// Navigation code here
.navBarClass{
    background-color: @nav-color;
    height: 125px;
    h1{
        padding-top: 25px;
        .h1FontSizeAlignCenter();
        margin-bottom: 20px;
    }
    .headerNavigation{
        .flexDisplay(flex,row);
        flex-wrap: nowrap;
        .centerItems();
        .marginLeftRight(35%, 35%);
        @media @laptop{
            .marginLeftRight(15%, 15%);
        }
        @media @phone{
            .marginLeftRight(5%, 5%);
        }
        
        a{
            margin: 0 auto;
            text-decoration: none;
            color:@ebony-clay;
            font-size: 2rem;
        }
    }
}